
<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/draftsofcode" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/draftsofcode', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
	<p><label for="tlemail">Sign up for the draftsOfCode newsletter!</label></p>
	<p><input type="text" style="width:200px" name="email" id="tlemail" placeholder="Enter email address ..." /></p>
	<input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" />
	<p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p>
 </form>

 